body{
    background-color: #494949;
    margin: 0px;
    margin-top: 0;
}
.entrada{
    background-color: rgb(30, 30, 120);
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 20px;
}
.entrada h1{
    color: rgb(190, 190, 190);
    font-size: 60px;
    margin: auto;
    margin-left: 8px;
}
p{
    color: rgb(184, 184, 184);
    margin-top: 0;
}
.sobre{
    margin: auto;
    padding: 10px;
    max-width: 80%;
    background-color: #2e2e2e;
    border-radius: 10px;
}
.sobre h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    color: bisque;
}