body {
  margin: 0px;
  margin-top: 0;
}
.barrasup {
  background-color: rgb(29, 29, 86);
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 20px;
}
.barrasup h1 {
  color: rgba(255, 255, 255, 0.695);
  font-size: 60px;
  margin: auto;
  margin-left: 8px;
}
#dp {
  color: #76ffe6ac;
}
#subtit {
  color: #bebebe;
}
p {
  color: rgb(59, 59, 59);
  margin-left: 8px;
}
.card {
  margin: auto;
  padding: 10px;
  max-width: 80%;
  background-color: #bebebe;
  border-radius: 10px;
}
.card h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(98, 62, 17);
}
